{% extends "layouts/base.html" %}

{% block title %} Weather {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-12 col-xl-12">
            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">Weather information</h2>
                <form action="{%  url 'weather:current_weather' %}">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div>
                                <label for="weather_query">City | Latitude and Longitude | IP address</label>
                                <input class="form-control" id="query" name="weather_query" type="text" placeholder="Gdynia ... or 48.8567,2.3508 ... or 85.237.165.165 ..." required>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">Search </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-xxl-4 mb-4">
            <div class="card border-0 shadow">
            <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                <h2 class="fs-5 fw-bold mb-0">Default location: {{ default_location }}</h2>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between border-bottom pb-3">
                    <div class="d-flex align-items-center pt-3">
                            <div class="icon-shape icon-sm icon-shape-info rounded me-3">
                                <i class="far fa-clock fa-2x"></i>
                            </div>
                            <div class="d-block">
                                <label class="mb-0">Local time</label>
                                <h4 class="mb-0"></h4>
                            </div>
                   </div>
                   <div>
                        <span class="d-flex align-items-center fw-bold">
                            {{ default_weather_data.location.localtime }}
                        </span>
                   </div>
                </div>
                <div class="d-flex align-items-center justify-content-between border-bottom py-3">
                    <div class="d-flex align-items-center pt-3">
                            <div class="icon-shape icon-sm icon-shape-info rounded me-3">
                                <i class="far fa-compass fa-2x"></i>
                            </div>
                            <div class="d-block">
                                <label class="mb-0">Coordinates</label>
                                <h5 class="mb-0"></h5>
                            </div>
                        </div>
                    <div>
                        <span class="d-flex align-items-center fw-bold">
                            Latitude: {{ default_weather_data.location.lat }} &deg;
                        </span>
                        <span class="d-flex align-items-center fw-bold">
                            Longitude: {{ default_weather_data.location.lon }} &deg;
                        </span>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between pt-3">
                   <div class="d-flex align-items-center pt-3">
                            <div class="icon-shape icon-sm icon-shape-info rounded me-3">
                                <i class="fas fa-compress-alt fa-2x"></i>
                            </div>
                            <div class="d-block">
                                <label class="mb-0">Pressure</label>
                                <h4 class="mb-0"></h4>
                            </div>
                   </div>
                   <div>
                        <span class="d-flex align-items-center fw-bold">
                            {{ default_weather_data.current.pressure_mb }} hPa
                        </span>
                   </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-12 col-xxl-4 mb-4">
            <div class="card border-0 shadow">
            <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                <h2 class="fs-5 fw-bold mb-0">Country: {{ default_weather_data.location.country }}</h2>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between border-bottom pb-3">
                    <div class="d-flex align-items-center pt-3">
                            <div class="icon-shape icon-sm icon-shape-info rounded me-3">
                                <i class="fas fa-temperature-low fa-2x"></i>
                            </div>
                            <div class="d-block">
                                <label class="mb-0">Temperature</label>
                                <h4 class="mb-0"></h4>
                            </div>
                        </div>
                   <div>
                        <span class="d-flex align-items-center fw-bold">
                            {{ default_weather_data.current.temp_c }} ℃
                        </span>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between border-bottom py-3">
                    <div class="d-flex align-items-center pt-3">
                            <div class="icon-shape icon-sm icon-shape-info rounded me-3">
                                <i class="fas fa-wind fa-2x"></i>
                            </div>
                            <div class="d-block">
                                <label class="mb-0">Wind speed</label>
                                <h4 class="mb-0"></h4>
                            </div>
                        </div>
                   <div>
                        <span class="d-flex align-items-center fw-bold">
                            {{ default_weather_data.current.wind_kph }} km/h
                        </span>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between pt-3">
                    <div class="d-flex align-items-center pt-3">
                            <div class="icon-shape icon-sm icon-shape-info rounded me-3">
                                <i class="fas fa-cloud-sun fa-2x"></i>
                            </div>
                            <div class="d-block">
                                <label class="mb-0">Wind direction</label>
                                <h4 class="mb-0"></h4>
                            </div>
                        </div>
                   <div>
                        <span class="d-flex align-items-center fw-bold">
                            {{ default_weather_data.current.wind_dir }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-12 col-xxl-4 mb-4">
            <div class="card border-0 shadow">
            <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                <h2 class="fs-5 fw-bold mb-0">Timezone: {{ default_weather_data.location.tz_id }}</h2>
            </div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between border-bottom pb-3">
                    <div class="d-flex align-items-center pt-3">
                            <div class="icon-shape icon-sm icon-shape-info rounded me-3">
                                <i class="fas fa-cloud-sun-rain fa-2x"></i>
                            </div>
                            <div class="d-block">
                                <label class="mb-0">Condition</label>
                                <h4 class="mb-0"></h4>
                            </div>
                        </div>
                   <div>
                        <span class="d-flex align-items-center fw-bold">
                            {{ default_weather_data.current.condition.text }}
                        </span>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between border-bottom py-3">
                    <div class="d-flex align-items-center pt-3">
                            <div class="icon-shape icon-sm icon-shape-info rounded me-3">
                                <i class="fas fa-cloud fa-2x"></i>
                            </div>
                            <div class="d-block">
                                <label class="mb-0">Cloudiness</label>
                                <h4 class="mb-0"></h4>
                            </div>
                        </div>
                   <div>
                        <span class="d-flex align-items-center fw-bold">
                            {{ default_weather_data.current.cloud }}%
                        </span>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between pt-3">
                    <div class="d-flex align-items-center pt-3">
                            <div class="icon-shape icon-sm icon-shape-info rounded me-3">
                                <i class="fas fa-umbrella fa-2x"></i>
                            </div>
                            <div class="d-block">
                                <label class="mb-0">Humidity</label>
                                <h4 class="mb-0"></h4>
                            </div>
                        </div>
                   <div>
                        <span class="d-flex align-items-center fw-bold">
                            {{ default_weather_data.current.humidity }}%
                        </span>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
