# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
env
venv
my_env

# other
.DS_Store
.env
.idea/
pelagic-bus-347018-ff9090f1014b.json

# javascript
package-lock.json
secrets.json

staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json

apps/static/assets/node_modules
apps/static/assets/yarn.lock
apps/static/assets/.temp

# audio files
*.mp3
*.m4a
