<footer class="bg-white rounded shadow p-5 mb-4 mt-4">
    <div class="row">
        <div class="col-12 col-md-4 col-xl-4 mb-4 mb-md-0">
            <p class="mb-0 text-center text-lg-start">
                <i class="fas fa-arrow-right"></i>
                <a class="text-primary fw-normal" href="https://zacniewski.github.io/" target="_blank">Artur Zacniewski</a>
                <i class="fas fa-arrow-left"></i>
            </p>
        </div>

        <div class="col-12 col-md-4 col-xl-4 mb-4 mb-md-0">
            <p class="mb-0 text-center text-lg-start">
                <h2 class="mb-1">
                    <i class="fab fa-raspberry-pi fa-2x"></i> Smart Pi
                </h2>
            </p>
        </div>

        <div class="col-12 col-md-4 col-xl-4 mb-4 mb-md-0">
            <p class="mb-0 text-center text-lg-start">
                    <i class="fas fa-arrow-right"></i>
                    <a target="_blank" href="https://scientificdev.net/">Scientific Dev</a>
                    <i class="fas fa-arrow-left"></i>
            </p>
        </div>
    </div>
</footer>
