{% extends "layouts/base.html" %}

{% block title %} Weather {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-12 mb-4">
          <div class="card border-0 shadow components-section">
              <div class="card-body">
                  <div class="row mb-4 mb-lg-5">
                      <div class="col-12 col-md-12">
                          <h2 class="h5 mb-5">Speech-To-Text details (confidence = {{ confidence }})</h2>
                          <h2>{{ transcript }}</h2>
                      </div>
                  </div>

                  <!-- Title  -->
                  <div class="row">
                      <div class="col-md-4">
                          <div class="mt-6 mb-5">
                              <span class="h6">Original recording</span>
                          </div>
                      </div>
                  </div>
                  <!-- End of Title -->
                  <div class="row">
                      <audio controls>
                          <source
                                  src="{% url 'gcp:output_file' local_file_name %}"
                                  type="audio/mpeg">
                          Your browser does not support the audio element.
                      </audio>
                  </div>
              </div>
          </div>
      </div>
  </div>


{%  endblock content %}