{% extends "layouts/base.html" %}

{% block title %} Weather {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-12 col-xl-12">
            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">Text-To-Speech conversion</h2>
                <form action="{%  url 'gcp:text_to_speech' %}">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div>
                                <label for="text_to_speech">Text to convert</label>
                                <textarea class="form-control mb-4"
                                        id="text_to_speech"
                                        name="text_to_speech"
                                        type="text"
                                        placeholder="Type your text to convert into speech ..."
                                        rows="6"
                                        required></textarea>

                                <label for="name_of_speech_file">Name of file</label>
                                <input
                                        class="form-control"
                                        id="name_of_speech_file"
                                        name="name_of_speech_file"
                                        type="text"
                                        placeholder="Give a name to your MP3 file with speech ..."
                                        required>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">Convert to speech </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{%  endblock content %}