{% extends "layouts/base.html" %}

{% block title %} Weather {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-12 col-xl-12">
            {% for vf in voice_files_list %}
                <table class="table table-bordered border table-striped">
                  <tbody>
                    <tr class="bg-warning">
                        <td>Odtwórz plik <b>{{ vf.0 }}</b>:
                          <audio controls autoplay>
                            <source id="wav"
                                    src="{% url 'gcp:output_file' vf.1 %}"
                                    type="audio/mpeg"
                                    onloadeddata="">
                                Your browser does not support the audio element.
                          </audio></td>
                      <td><a href="{% url 'gcp:speech_to_text' vf.1 %}"><i class="fas fa-share fa-2x float-right"></i></a></td>
                    </tr>
                  </tbody>
                </table>
                <hr>
            {% endfor %}
        </div>
    </div>

{%  endblock content %}