{% extends "layouts/base.html" %}

{% block title %} Smart Pi {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body hovered-card">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape rounded me-4 me-sm-0">
                                <a href="{% url 'weather:default_weather' %}"><i class="fas fa-chess fa-6x"></i></a>
                            </div>
                            <div class="d-sm-none">
                                <h2 class="fw-extrabold h5">Project #1</h2>
                                <h3 class="mb-1">
                                    <a href="{% url 'weather:default_weather' %}">Weather API</a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Project #1</h2>
                                <h3 class="fw-extrabold mb-2">
                                    <a href="{% url 'weather:default_weather' %}">Weather API</a>
                                </h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">
                                <a href="https://www.weatherapi.com/" target="_blank">
                                    <i class="fas fa-cloud-sun fa-2x"></i>
                                    <span class="text-success fw-bolder">Project's page</span>
                                </a>
                            </small>
                            <div class="small d-flex mt-1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body hovered-card">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape rounded me-4 me-sm-0">
                                <i class="fas fa-chess-king fa-6x"></i>
                            </div>
                            <div class="d-sm-none">
                                <h2 class="fw-extrabold h5">Project #2</h2>
                                <h3 class="mb-1">
                                    <a href="{% url 'weather:default_weather' %}">AWS Rekognition</a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Project #2</h2>
                                <h3 class="fw-extrabold mb-2">
                                    <a href="{% url 'weather:default_weather' %}">AWS Rekognition</a>
                                </h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">
                                <a href="https://aws.amazon.com/rekognition/" target="_blank">
                                    <i class="fas fa-eye fa-2x"></i>
                                    <span class="text-success fw-bolder">Project's page</span>
                                </a>
                            </small>
                            <div class="small d-flex mt-1">
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body hovered-card">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape rounded me-4 me-sm-0">
                                <!--<svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"></path></svg>-->
                                <i class="fas fa-chess-rook fa-6x"></i>
                            </div>
                            <div class="d-sm-none">
                                <h2 class="fw-extrabold h5">Project #3</h2>
                                <h3 class="mb-1">
                                    <a href="{% url 'gcp:text_to_speech' %}">Text-To-Speech</a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Project #3</h2>
                                <h3 class="fw-extrabold mb-2">
                                    <a href="{% url 'gcp:text_to_speech' %}">Text-To-Speech</a>
                                </h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">
                                <a href="https://cloud.google.com/text-to-speech" target="_blank">
                                    <i class="fas fa-comment fa-2x"></i>
                                    <span class="text-success fw-bolder">Project's page</span>
                                </a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body hovered-card">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape rounded me-4 me-sm-0">
                                <!--<svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"></path></svg>-->
                                <i class="fas fa-chess-queen fa-6x"></i>
                            </div>
                            <div class="d-sm-none">
                                <h2 class="fw-extrabold h5">Project #4</h2>
                                <h3 class="mb-1">Object detection</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Project #4</h2>
                                <h3 class="fw-extrabold mb-2">Object detection</h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">
                                <i class="fas fa-microphone fa-2x"></i>
                            </small>
                            <div class="small d-flex mt-1">
                                <div>https://www.weatherapi.com/ </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body hovered-card">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape rounded me-4 me-sm-0">
                                <!--<svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"></path></svg>-->
                                <i class="fas fa-chess-board fa-6x"></i>
                            </div>
                            <div class="d-sm-none">
                                <h2 class="fw-extrabold h5">Project #5</h2>
                                <h3 class="mb-1">Object recognition</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Project #5</h2>
                                <h3 class="fw-extrabold mb-2">Object recognition</h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">
                                <i class="fas fa-cloud-sun fa-2x"></i>
                            </small>
                            <div class="small d-flex mt-1">
                                <div>https://www.weatherapi.com/ </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body hovered-card">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape rounded me-4 me-sm-0">
                                <i class="fas fa-chess-bishop fa-6x"></i>
                            </div>
                            <div class="d-sm-none">
                                <h2 class="fw-extrabold h5">Project #6</h2>
                                <h3 class="mb-1">GCP STT</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Project #6</h2>
                                <h3 class="fw-extrabold mb-2">GCP STT</h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">
                                <i class="fas fa-cloud-sun fa-2x"></i>
                            </small>
                            <div class="small d-flex mt-1">
                                <div>https://www.weatherapi.com/ </div>
                            </div>
                            <div class="small d-flex mt-1">
                                <div>
                                    <span class="text-success fw-bolder">Some information about</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body hovered-card">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape rounded me-4 me-sm-0">
                                <!--<svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"></path></svg>-->
                                <i class="fas fa-chess-pawn fa-6x"></i>
                            </div>
                            <div class="d-sm-none">
                                <h2 class="fw-extrabold h5">Project #7</h2>
                                <h3 class="mb-1">Face detection with FA & OpenCV</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Project #7</h2>
                                <h3 class="fw-extrabold mb-2">Face detection with FA & OpenCV</h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">
                                <i class="fas fa-cloud-sun fa-2x"></i>
                            </small>
                            <div class="small d-flex mt-1">
                                <div>https://www.weatherapi.com/ </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body hovered-card">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape rounded me-4 me-sm-0">
                                <i class="fas fa-chess-knight fa-6x"></i>
                            </div>
                            <div class="d-sm-none">
                                <h2 class="fw-extrabold h5">Project #8</h2>
                                <h3 class="mb-1">
                                    <a href="{% url 'youtube:extracted' %}">MP3 extractor</a>
                                </h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Project #8</h2>
                                <h3 class="fw-extrabold mb-2">
                                    <a href="{% url 'youtube:extracted' %}">MP3 extractor</a>
                                </h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">
                                <a href="https://youtube-dl.org/" target="_blank">
                                    <i class="fas fa-music fa-2x"></i>
                                    <span class="text-success fw-bolder">Some information about</span>
                                </a>
                            </small>
                            <div class="small d-flex mt-1">
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-4">
            <div class="card border-0 shadow">
                <div class="card-body hovered-card">
                    <div class="row d-block d-xl-flex align-items-center">
                        <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                            <div class="icon-shape rounded me-4 me-sm-0">
                                <!--<svg class="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"></path></svg>-->
                                <i class="fas fa-chess fa-6x"></i>
                            </div>
                            <div class="d-sm-none">
                                <h2 class="fw-extrabold h5">Project #9</h2>
                                <h3 class="mb-1">Face detection with face-api.js</h3>
                            </div>
                        </div>
                        <div class="col-12 col-xl-7 px-xl-0">
                            <div class="d-none d-sm-block">
                                <h2 class="h6 text-gray-400 mb-0">Project #9</h2>
                                <h3 class="fw-extrabold mb-2">Face detection with face-api.js</h3>
                            </div>
                            <small class="d-flex align-items-center text-gray-500">
                                <i class="fas fa-cloud-sun fa-2x"></i>
                            </small>
                            <div class="small d-flex mt-1">
                                <div>https://www.weatherapi.com/ </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
