{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-12 col-xl-12">
            <div class="card card-body border-0 shadow mt-4 mb-4">
                <form action="{% url 'update_settings' %}">
                    <h2 class="h5 my-4">Updated settings</h2>
                    <div class="row">
                        <div class="col-sm-9 mb-3">
                            <div class="form-group">
                                <label for="location">Location</label>
                                <div class="input-group mb-4">
                                    <input class="form-control"
                                    id="id_location2"
                                    name="id_location2"
                                    type="text"
                                    value="{{ default_location }}"
                                    disabled
                                    >
                                    <span class="input-group-text">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </span>
                                </div>
                                <label for="location">Another setting</label>
                                <div class="input-group">
                                    <input class="form-control"
                                    id="id_another_setting2"
                                    name="id_another_setting2"
                                    type="text"
                                    value="{{ another_setting }}"
                                    disabled
                                    >
                                    <span class="input-group-text">
                                        <i class="fas fa-key"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script>
         const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-primary',
                cancelButton: 'btn btn-gray'
            },
            buttonsStyling: false
        });

        swalWithBootstrapButtons.fire({
                icon: 'success',
                title: 'Settings updated!',
                text: 'Your changes has been saved',
                showConfirmButton: true,
                timer: 2000
            });
    </script>
{% endblock javascripts %}
